.add-invoice-div {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border:4px solid #009879;
}

.field-add {
    margin-top: 10px;
}

.row-buttons {
    display: flex;
    flex-direction: row;
}

.add-invoice-button {
    margin-left: 51px;
    margin-top: 10px;
}

.close-invoice-button  {
    margin-top: 10px;
}