
.center-table {
    text-align: -webkit-center;
}

.drop-down-statuses {
    width: 164px;
    height: 22px;
}


.button-style {
    background-color: #009879;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 25%;
    cursor: pointer;
}